{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/app.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <title>Map | Demo</title>
</head>
<body>
<style>
</style>
    <h1>Map</h1>
<!--button class="btn btn-primary" id="location-submit" onclick="getLocation()">Share Location</button-->
<p id="demo"></p>
<div class='iframe-container'>
    <div id="mapid"></div>
</div>
{{ room_name|json_script:"room-name" }}
<script type="text/javascript">

    navigator.geolocation.watchPosition(function(location) {
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const mapSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/map/'
            + roomName
            + '/'
        );

        var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);

        var radius = 1000;

        var deliveries = [
            { "lat": location.coords.latitude, "lon": location.coords.longitude},
        ];

        var mymap = L.map('mapid').setView(latlng, 14)
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var marker = (function() {
            for (let index = 0; index < deliveries.length; index++) {
                L.marker([deliveries[index].lat, deliveries[index].lon])
                .bindPopup("Your delivery is within " + radius + " meters of your area")
                .addTo(mymap);
            }
        })();
        
        L.circle(latlng).addTo(mymap).setRadius(radius);

        console.log(deliveries);

        mapSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#mapid').value += (data.latlng + '\n');
        };

        mapSocket.onclose = function(e) {
            console.error('Map socket closed unexpectedly');
        };

        window.onload = (event) => {
            mapSocket.send(JSON.stringify({
                'latlng': latlng
            }));

            console.log(latlng);
            
            console.log('map data sent');
        };

        document.getElementById("demo").innerHTML = JSON.stringify(latlng);

        //document.querySelector('#location-submit').onclick = function(e) {
        //    const messageInputDom = document.querySelector('latlng');
        //    const message = messageInputDom.value;
        //    mapSocket.send(JSON.stringify({
        //        'latlng': latlng
        //    }));
        //    messageInputDom.value = '';
        //};

    });
</script>
<!--script>

        var x = document.getElementById("demo");
        
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude;
        }
</script--->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>