
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Mapillary map layer</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
  <div id="map"></div>
  <script>
    var map = L.map("map").setView([41.878781, -87.622088], 2);
    L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=<your mapbox access token here>", {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: "mapbox.streets"
	}).addTo(map);
    var options = {
      interactive: true,
      maxNativeZoom: 14,
      vectorTileLayerStyles: {
        "mapillary-images": {
          radius: 1,
          color: "#39AF64",
	      },
        "mapillary-sequences": {
            weight: 1,
            color: "#39AF64",
        },
      }
    }
    L.vectorGrid.protobuf("https://d25uarhxywzl1j.cloudfront.net/v0.1/{z}/{x}/{y}.mvt", options)
      .on('mouseover', function(e) {
        var url = "https://images.mapillary.com/" + e.layer.properties.ikey  + "/thumb-320.jpg";
        L.popup()
          .setContent("<img src='" + url + "' width='160'/>")
					.setLatLng(e.latlng)
					.openOn(map);
      })
      .addTo(map);
  </script>
</body>
</html>